.wrap-main {
  .table-toolbar-item {
    margin-right: 20px;
    font-size: 14px;
  }
  .search_input {
    width: 272px;
    display: inline-block;
  }
}
.search_box{
  padding-right: 14px;
  
}
