.work-platform{
  .cardWrap {

    .box-card {
      border: 0;
      .el-card__header {
        border-bottom: 1px solid #E9ECF1;
        font-size: 16px;
        padding: 10px 18px;

        img {
          position: relative;
          top: 6px;
          margin-right: 3px;
        }
      }
      // .el-card__body{
      //   min-height: 350px;
      // }
      .more{
        font-size: 14px;
        position: relative;
        top: 6px;
      }
    }
  }
}
/* 待办模块 */
.todo-msg-cardFunWrap {
  display: flex;
  width: 100%;
  padding:  0;
  min-height: 322px;
  caret-color: transparent;

  & > .left {
    width: 230px;
    display: flex;
    align-items: center;

    .img-show {
      width: 220px;
      height: 220px;
      color: #08287B;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 40px;
      background: url("~@/assets/imgs/bg/todo-bg.png") no-repeat left;
      background-size: contain;
      line-height: 1.5;


      .label {
        font-weight: bold;
        font-size: 16px;
        width: 100%;
      }
      .value {
        font-size: 36px;
        font-weight: bold;
        width: 100%;
      }
    }
  }
  & > .right {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;

    .right-box{
      width: 100%;
      min-height: 206px;
    }

    .subCard-body {
      width: 100%;
      .empty-text {
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
        color: #888;
      }
      .clearfix{
        justify-content: center;
        width: 100%;
      }
      .info-table {
        width: 100%;
        max-width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 10px;

        &:hover {
          background: #EDF6FF;
          border-radius: 4px;
        }

        .info-table-row {
          min-width: 75px;
        }

        .row-title{
          flex: 1;
        }
        .row-num {
          width: 20px;
          min-width: 20px;
          color: #EE5555;
        }
        .row-operation {
          flex: 2;
          text-align: right;
          width: 25%;
          color: #3772FF;

          .clickBtn {
            font-weight: 400;
            padding: 5px 2px;
            min-width: 60px;

            i {
              font-size: 12px;
              border-radius: 50%;
              height: 16px;
              width: 16px;
              background: #e3eafd;
              text-align: center;
              line-height: 16px;
              font-weight: bold;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
}

/* 屏幕小于1440 */
@media screen and (max-width: 1480px) {
  .info-table-box {
    width: 100%;
  }
}

/* 屏幕大于1440 */
@media screen and (min-width: 1480px) {
  .info-table-box {
    width: 49%;
  }
}
